/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #666666;
}

/* Navigation */
nav {
    background-color: #003366; /* Azul oscuro */
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #005599; /* Slightly lighter blue for hover effect */
    border-radius: 5px;
    color: #ff6600; /* Naranja */
}

/* Header */
.header-container {
    background-color: #003366; /* Blue background color */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Logo Styling */
.logo {
    width: 120px;
    height: auto;
    margin-right: 20px;
}

/* Header Text Styling */
.header-text {
    color: #fff;
    text-align: left;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
}

.header-text p {
    margin: 0;
    font-size: 14px;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
}

/* Value Proposition */
#propuesta-valor {
    background-color: #e0e0e0;
    padding: 40px;
    text-align: left;
}

#propuesta-valor ul {
    list-style-type: none;
    padding: 0;
}

#propuesta-valor ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Process Section */
#nuestro-proceso ul {
    list-style-type: none;
    padding: 0;
}

#nuestro-proceso ul li {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Discounts Section */
#descuentos-partes {
    background-color: #e6f2ff;
    padding: 40px;
    text-align: left;
}

/* Booking Calendar */
#booking-calendar {
    width: 100%;
    border-collapse: collapse;
}

#booking-calendar th, #booking-calendar td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

button.available {
    background-color: #4CAF50; /* Green for available */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button.booked {
    background-color: #f44336; /* Red for booked */
    color: white;
    padding: 10px;
    border: none;
    cursor: not-allowed;
}

/* Footer */
footer {
    background-color: #666666; /* Gris metálico */
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: #ff6600; /* Naranja */
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}
